header {
  height: 60px;
}

header .navbar {
  width: 100%;
  margin: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
header .navbar-default {
  background-color: #fff !important;
}
    
header .navbar .container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}
    
header .navbar .navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
}
header .navbar .navbar-inner .navbar-header h1 {
  margin: 0 !important;
  padding: 10px 0 0 0 !important;
}
header .navbar .navbar-inner .navbar-header h1 a {
  width: 200px;
  height: 40px !important;
  margin: 0;
/*  background: image-url("logo.png") no-repeat 0 0;*/
  background-size: contain;
  display: block;
  white-space: nowrap;
/*  text-indent: 99999px;*/
}

header .navbar .navbar-inner .navbar-nav li a {
  padding: 20px;
}
header .navbar .navbar-inner .navbar-nav li a .gravatar {
  margin-right: 2px;
}
header .navbar .navbar-inner .navbar-nav li a .gravatar img {
  border-radius: 100%;
}
header .navbar .navbar-inner .navbar-nav .dropdown-menu .divider {
  margin: 0;
}
header .navbar .navbar-inner .navbar-nav .dropdown-menu a {
  padding: 10px 15px;
}



@media (max-width: 768px) {
  .navbar-header {
    margin-left: 15px !important;
  }
  .navbar-toggle {
    margin-top: 11px;
  }
  .navbar-collapse {
    margin-top: 10px;
  }
}
